.headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.burgerMenu {
  position: fixed;
  top: 0;
  padding-left: 12rem;
  ul{
    list-style: none;
  }
  a{
    text-decoration: none;

}
}

@media screen and (max-width: 700px) {
  .navBigScreen {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  .burger {
    display: none;
  }
}
