.headerWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  
    nav {
        ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                margin-left: 1rem;
                cursor: pointer;
                font-size: 1.5rem;
                font-weight: 600;
            
                a {
                    text-decoration: none;
                    &:hover {
                        color: #007bff;
                    }
                }
                .loginBtn {
                    text-decoration: none;
                    &:hover {
                        color: #007bff;
                    }
                }
            }
        }
    }

}