.footerWrapper {
    padding: 1rem 0;
    p  {
        font-size: 1rem;
    }
    a {
        color: black;
        text-decoration: none;
    }
}

.footerSocialWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 2rem;
    .footerSocial {
        padding: 0 1rem;
    }
   
}

.footerInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 1rem 1rem 3.5rem;
}

.footerIcon {
    padding-right: 1rem;
    font-size: 2rem;
}

.footerCopyright {
    text-align: center;
    padding-bottom: 1rem;
}

@media screen and (min-width: 700px) {
    .footerInfo {
        padding: 1rem;
    }
    .footerCard{
        display: flex;
        justify-content: space-around;
        h4 {
            font-size: 1.5rem;
            margin: 0;
        }
        p {
           
        }
    }
    
}