.headerWrapper {
  display: grid;
    grid-template-columns: repeat(12, 1fr);
  padding: 0 1rem;
  img {
    padding: 2rem 0;
    margin: 1rem 0;
    cursor: pointer;
  }

}

.burger {
    font-size: 2rem;
    grid-column: 12;
    place-self: center;
    justify-self: end;
}

.burgerMenu {
    grid-column: 2/12;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0.5rem;

  ul{
    list-style: none;


  }
  li {
    padding-bottom: 0.5rem;
  }
  a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}
}

.navBigScreen {
    grid-column: 3/12;
    display: flex;
    align-items: end;
    padding: 0.5rem;
    ul{
        list-style: none;
        display: flex;
    }
    li {
        padding: 0 1rem;
    }
    a{
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
    }
}


@media screen and (max-width: 700px) {
  .navBigScreen {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  .burger {
    display: none;
  }

  .headerWrapper{
    img {
        width: 200px;
    }
  }

}
